<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Assigned Issues</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-android-search" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div data-comp-id="text.1">Some text</div>
            </div>
            <i class="icon ion-chevron-right" data-comp-id="icon.1"></i>
        </div>
    </ion-content>
</ion-view>